{% extends "base.html" %}
{% block content %}
<div class="item-entry">
    <h2>{{ warehouse.name }}</h2>
    <p>{{ warehouse.city }}, {{ warehouse.state }}</p>
</div>

<h4><u>Items:</u></h4>
<div>
    {% for item in warehouse.item_set.all %}
    <p>
        <span class="font-weight-bold"> &middot; {{item.brand}} {{ item.type }}
        </span>
        : {{ item.unit_Count }} units
    </p>
    {% endfor %}
</div>
<p><a href="{% url 'warehouse_edit' warehouse.pk %}"> • Update warehouse</a></p>
<p><a href="{% url 'warehouse_delete' warehouse.pk %}"> • Delete warehouse</a></p>

{% endblock content %}